# Python
venv/
__pycache__/
*.py[cod]
*.pyo

# Environment variables
.env

# Uploads
uploads/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Node
frontend/node_modules/

# Build
frontend/dist/